/* --------------------------HTML/BODY---------------------------------------------------- */
html, body {
    height: 100%;
    overflow-y: auto;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f7fa;
    z-index: -1; 
}
/* Responsive Styling */
@media (max-width: 768px) {
    html, body {
        overflow: auto;
    }

    body::before {
        background-color: #f5f7fa; /* Lighter overlay for smaller screens */
    }
}

/* ------------------------LINKS------------------------------------------------------ */

.hover-link {
    text-decoration: none;
    color: #007bff;
}

.hover-link:hover {
    color: #ff00e6;
}

/* -----------------------H1------------------------------------------------------- */

h1 {
     margin: 0; 
    font-size: 4em;
}

/* -----------------------SECTIONS------------------------------------------------------- */

section {
    min-height: 100vh;
    padding: 50px;
    text-align: center;
    background-color: #f5f7fa;
    
}
@media (max-width: 768px) {
    section {
        height: auto; /* Allow the section to adjust its height based on content */
        padding: 20px; /* Reduce padding for smaller screens */
    }
}

/* --------------------HEADER---------------------------------------------------------- */

/* Header Styling */
header {
    height: 100vh;
    background-color: #f5f7fa;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 40px 60px;
    gap: 100px;
}

.intro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 36px;
    text-align: justify;
    align-items: center;
}

.typewriter {
    font-size: 2.5em;
    font-family: monospace;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

.intro-left p {
    font-size: 1.35em;
    margin-top: 20px;
}

.intro-left img.profile-pic {
    border-radius: 50%;
    width: 256px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 36px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.intro-left h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.intro-left h1 {
    margin-top: 10px;
    font-size: 2.5em;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Responsive Styling */
@media (max-width: 768px) {
    header {
        height: auto;
        padding: 20px;
    }

    .intro-container {
        flex-direction: column;
        padding: 0 20px;
        flex-wrap: wrap;
        margin: 20px;
    }

    .intro-right {
        order: -1; /* Move the profile picture above the intro text */
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the profile picture */
        width: 100%;
    }

    .intro-left {
        padding-right: 0;
        text-align: center;
    }

    .typewriter {
        font-size: 1.8em;
        white-space: normal; /* Allow text to wrap */
        width: auto; /* Allow text to wrap */
    }

    .intro-left p {
        font-size: 1.0em;
        word-wrap: break-word; /* Ensure content wraps within the screen */
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .intro-right h1 {
        font-size: 2em;
    }
}
/* -----------------------Gallery------------------------------------------------------- */
.home-categories {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.home-categories-vertical {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    height: 100%;
}

.category-box {
    background-color: #fff;
    padding: 60px 80px; /* Bigger box */
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    font-size: 1.8em;
    font-weight: bold;
    color: #1e00ff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .intro-container {
        flex-direction: column;
        align-items: center;
    }

    .intro-left {
        padding: 0;
        text-align: center;
    }

    .home-categories-vertical {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .category-box {
        width: 80%;
    }
}

/* -----------------------Level Design -------------------------------------------------------*/
#level-design{
    overflow: visible;
    padding: 100px;
    text-align: center;
    background-color: #f5f7fa;
}
#level-design img {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/* -----------------------PROJECTS------------------------------------------------------- */

#projects {
    overflow: visible;
    padding: 20px;
}

#projects article {
    background-color: rgb(137, 226, 255);
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-video-container {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
}

.game-info {
    width: 100%;
    text-align: center;
}

.game-info h2, .game-info h3 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.project-description {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    border-left: 5px solid #1e00ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.devlog-btn {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.devlog-btn:hover {
    background-color: #0056b3;
}

/* Responsive behavior for larger screens */
@media (min-width: 769px) {
    .game-content {
        flex-direction: row;
    }

    .game.left-align .game-video-container {
        order: 1;
    }

    .game.left-align .game-info {
        order: 2;
        text-align: left;
    }

    .game.right-align .game-video-container {
        order: 2;
    }

    .game.right-align .game-info {
        order: 1;
        text-align: right;
    }

    .game-video-container, .game-info {
        flex: 1;
    }

    .game-info {
        padding: 0 20px;
    }
}

/* Styles for lite-youtube-embed */
lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 720px;
}

/* responsive padding bottom to maintain 16:9 aspect ratio */
lite-youtube::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}

lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
    width: 68px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* YT's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
    cursor: unset;
}

lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}
/* -----------------------RESUME------------------------------------------------------- */

/* Resume Section Styling */
#resume {
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 80px;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    overflow: visible; 
}

.resume-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.resume-column {
    margin-top: 50px;
    flex: 1;
    padding: 0 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.resume-column:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.resume-column ul {
    list-style-type: none;
    padding: 0;
}

.resume-column ul li {
    margin-bottom: 25px;
    border-left: 3px solid #1e00ff;
    padding-left: 15px;
}

.resume-column ul li p {
    margin: 8px 0 0;
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}

.resume-column ul li strong {
    font-size: 1.2em;
    color: #2c3e50;
}

/* Icon Styling for Section Headers */
#resume h2, #resume h3 {
    color: #333;
    font-family: 'Arial', sans-serif;
    position: relative;
    padding-left: 35px;
    text-align: center; 
    font-size: 1.5em; 
    margin-bottom: 20px;
}

#resume h2:before, #resume h3:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    font-family: FontAwesome;
    color: #1e00ff;
}

/* Specific Icon Styling */
#experiences h3:before {
    content: "\f0b1";
}
#education h3:before {
    content: "\f19d";
}
#skills h3:before {
    content: "\f013";
}

/* Optional: Make text left-aligned and make headings stand out */
#resume h3 {
    text-align: left;
    border-bottom: 2px solid #1e00ff;
    padding-bottom: 10px;
}

#resume ul li p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
        gap: 20px;
    }

    .resume-column {
        max-width: 100%;
        margin-top: 20px;
        padding: 10px;
        flex: 1 1 100%;
    }

    #resume {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
    }

    #resume h2, #resume h3 {
        font-size: 1.5em;
    }
}

/* -----------------------NAVBAR------------------------------------------------------- */
/* Navbar Styling */
#navbar {
    position: fixed;
    top: 10px;
    width: 70%;
    left: 15%;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#navbar .menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
    margin: 0 20px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.4em;
    color: #ffcc00;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
    #navbar {
        background-color: rgba(51, 51, 51, 0);
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
        text-align: right;
        padding: 60px 0px;
        font-size: small;
    }
    #navbar .menu-icon {
        display: block;
        color: #333;
    }
    #navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    #navbar ul li a {
        color: black;
    }
    #navbar ul li {
        display: block;
        margin: 10px 0;
    }
    #navbar ul.show {
        display: flex;
    }
}

/* -----------------------FLOATING NAVBAR------------------------------------------------------- */

/* Floating Navbar */
#social-navbar {
    position: fixed;
    top: 40%;
    left: 5px;
    z-index: 1000;
    width: 60px;
    height: auto;
    background-color: #ffffff00;
    transition: transform 0.3s ease-in-out;
}

#social-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#social-navbar ul li {
    margin: 10px 0;
}

#social-navbar ul li a img {
    width: 55px;
    height: 55px;
    display: block;
    transition: transform 0.3s ease-in-out;
}

#social-navbar ul li a img:hover {
    transform: scale(1.5);
}

#social-navbar ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

#social-navbar ul li a span {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
}

#social-navbar:hover ul li a span {
    opacity: 1;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    #social-navbar {
        top: auto;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #social-navbar ul {
        display: flex;
        flex-direction: row;
    }

    #social-navbar ul li {
        margin: 0 5px;
    }

    #social-navbar ul li a img {
        width: 35px;
        height: 35px;
    }
}

/* -----------------------CONTACT SECTION------------------------------------------------------- */
#contact {
    height: 100vh;
    padding-left: 256px;
    padding-top: 196px;
    text-align: left;
    display: block;
    margin: 0;
    background-color: #f5f7fa;
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        padding-top: 20px;
        text-align: center;
    }
}

#icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

li {
    line-height: 1.8em;
    font-size: 1.2em;
}

.category-box-link {
  text-decoration: none;
}

.project-bg{
   background-image: url('../Images/projects-background.png'); 
}

.otherwork-bg{
   background-image: url('../Images/otherwork-background.png'); 
}